<<<<<<< Updated upstream
.uil {
    color: cadetblue;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adtw {
    font: 'bold';
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(37, 228, 123);
}

.tdl {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: wheat;
    font-size: 18px;
}

/* Id should start with '#' and class should with ' . dot ' */
#oc {
    color: coral;
}

.v-sel {
    color: cornflowerblue;
}

#goc {
    color: rgb(148, 16, 104);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ochane {
    color: rgb(15, 189, 160);
}

/* body{
    background-image : inherit
} */

#onf {
    font-size: 20px;
    /* size:10px; */
    color: lightblue;
}

#on {
    color: lightsalmon;
}

#pa {
    color: rgb(23, 228, 50);
}

#blo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
    font-size: 20px;
    font-style: italic;
    font-weight: 1;
}

#in {
    color: blueviolet;
    font-style: oblique;
}

.acpt{
    background-color: brown;
    border-color: black;
    padding: 2px;
=======
.uil {
    color: cadetblue;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.adtw {
    font: 'bold';
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(37, 228, 123);
}

.tdl {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: wheat;
    font-size: 18px;
}

/* Id should start with '#' and class should with ' . dot ' */
#oc {
    color: coral;
}

.v-sel {
    color: cornflowerblue;
}

#goc {
    color: rgb(148, 16, 104);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ochane {
    color: rgb(15, 189, 160);
}

/* body{
    background-image : inherit
} */

#onf {
    font-size: 20px;
    /* size:10px; */
    color: lightblue;
}

#on {
    color: lightsalmon;
}

#pa {
    color: rgb(23, 228, 50);
}

#blo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aquamarine;
    font-size: 20px;
    font-style: italic;
    font-weight: 1;
}

#in {
    color: blueviolet;
    font-style: oblique;
>>>>>>> Stashed changes
}